 //generics
 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 ul {
     padding: 0;

     li {
         list-style-type: none;

     }
 }

 a {
     text-decoration: none;
     color: black;
 }

 .divisor {
     width: 155px;
     display: block;
     margin: 1rem 0;
     border: 1px solid $bright_sun;
 }

 section {
     padding: 5rem 0;
 }

 figure {
     margin: 0;
 }

 h4 {
     text-transform: capitalize;
     margin: 0;
 }

 button {
     text-transform: uppercase;
     border: none;
 }

 hr {
     margin: 0 10px;
 }

 .view-all {
     cursor: pointer;
     padding: 5rem 0 3rem 0;
 }

 .intro {
     line-height: 2rem;
 }