//palette color
//Color cube
$white : #fff;
$cod_gray : #1e1e1e;
$dove_gray : #6b6868;
$bright_sun : #EEEEEE;
$silver : #bcbcbc;
$cornflower_blu : #5ea3e7;
$olive : #7d7903;
$orange : #fe6f1d;
$venice_blu : #045287;
//Median cut
$pampas : #f0ede6;
$tuatara : #31312f;
$bali_hai : #8faeb8;
$yellow_metal : #7e703c;
$ship_cove : #6586b1;
//Material design
$sun: #f9d03f;
$storm_dust : #666665;
$olive_tone : #7e6b12;
$limed_spruce : #39454c;
$seagull : #7eb7ea;